html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body  {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  color: #fff;
  font-family: Monaco, Consolas, monospace;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

#my-weather {
  display: block;
  width: 15vw;
  margin: 4vw;
}
